<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Mahoe <i class="fab fa-bitcoin"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Moedas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Carteira</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mahoe:dashboard' %}">Perfil <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% endif %}
        <span style="margin-inline-start: auto;">
            {% if request.user.is_authenticated %}
            Olá, <i>{{user.username}}</i>
            <a href="{% url 'mahoe:logout' %}" class="btn btn-danger">Logout</a>
            {% else %}
            <div class="login__left">
                <a href="{% url 'mahoe:login' %}" class="btn btn-secondary">Entrar</a>
                <a href="{% url 'mahoe:register' %}" class="btn btn-info ">Cadastrar</a>
            </div>

            {% endif %}

        </span>
    </div>
</nav>